@use '../helpers/media-query' as mq;

.site-container {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100dvh;
    max-width: 1000px;
    margin: 0 auto;

    border-left: 1px rgb(0 0 0 / 15%) solid;
    border-right: 1px rgb(0 0 0 / 15%) solid;
}