@use '../vars/config';
@use '../helpers/media-query' as mq;

* {
    box-sizing: border-box;
}

html {
    font-size: config.$font-size;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.03rem;;
}

body {
    background-image: linear-gradient(
      45deg,
      rgb(104, 142, 247),
      rgb(0, 101, 202),
      rgb(1, 101, 119)
    );
}

.site-container {
    background-color: #a4c1ca;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
    padding: 0;
    margin: 0;
}

button {
    border-radius: 10px;
    background-color: #adadad;
    border: 1px solid black;
    font-weight: 600;
    text-transform: uppercase ;

        &:hover {
            cursor: pointer;
            background-color: #bbbbbb;
            border: 1px solid white;
        }
}

.header-buttons button,
.image-controls button {

    padding: .3rem;
    margin: 0 .2rem;

    @include mq.set-breakpoint("small") {
        padding: .5rem;
        margin: 0 .5rem;
    }
}


.site-header {
    background-color: #84bfd1;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}