@use '../helpers/media-query' as mq;

.site-header {
    display: grid;
    gap: .5rem;

    h1,
    h2,
    span,
    .header-buttons {
        text-align: center;
    }

    h2 {
        word-break: break-word;
    }

    span {
        display: block;
    }
}