@use '../helpers/media-query' as mq;

main {
    display: grid;
    padding: 2rem .5rem;
    grid-template-rows: min-content min-content 1fr;

    @include mq.set-breakpoint("large") {
        padding: 2rem 2rem;
    }
}

