@use '../../helpers/media-query' as mq;

.collection-container {
    display: grid;
    gap: 1rem;
    padding: 3rem 1rem 1.5rem 1rem;
}

.collection-container header{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;

    h2 {
        font-size: 3rem;
    }

    @include mq.set-breakpoint("large") {
        flex-direction: row; 
    }
}

.collection-view {
    display: grid;
    justify-items: center;

    img {
        width: 100%;
    }
}

.collection-list {
    list-style: none;
    display: grid;
    gap: 1rem;

    @include mq.set-breakpoint("small") {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq.set-breakpoint("large") {
        grid-template-columns: repeat(3, 1fr);
    }
}

.collection-item {
    display: grid;
    grid-template-columns: 1fr min-content;
    height: fit-content;
    box-shadow:
    0.5px 0.5px 0.8px hsl(21deg 26% 60% / 0.36),
    1.6px 1.6px 2.5px -0.8px hsl(21deg 26% 60% / 0.36),
    4px 4.1px 6.4px -1.7px hsl(21deg 26% 60% / 0.36),
    9.6px 10px 15.6px -2.5px hsl(21deg 26% 60% / 0.36);
}